body {
    background-color: black;
    font-family: verdana;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}
h2 {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}
p {
    text-align: center;
    font-size: 21px;
    color: gray;
}
.links {
    text-align: center;
    padding-bottom: 1.5em;
}

.links a {
    color: aquamarine;
    font-size: 16px;
}

#phoneVideo {
    text-align: center;
}

.centered {
    text-align: center;
}

#camp {
    padding-bottom: 1em;
}

footer p {
    text-align: right;
    color: gray;
}